doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  CARDIO 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Normalize
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    // Bootstrap
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    // Owl
    link(rel='stylesheet', type='text/css', href='css/owl.css')
    // Animate.css
    link(rel='stylesheet', type='text/css', href='css/animate.css')
    // Font Awesome
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome/font-awesome.min.css')
    // Elegant Icons
    link(rel='stylesheet', type='text/css', href='fonts/eleganticons/et-icons.css')
    // Main style
    link(rel='stylesheet', type='text/css', href='css/cardio.css')
  body
    // Scripts
    script(src='js/jquery-1.11.1.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.onepagenav.js')
    script(src='js/main.js')
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    // CREAR EL SIGUIENTE MENU CON UN MIXIN (3 parametros)
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    ul.nav.navbar-nav.navbar-right.main-nav
      li.active
        a(href='#intro') Home
      li
        a(href='#services') About Us
      li
        a(href='#team') Cleaning Services
      li
        a(href='#pricing') Pricing
      li
        a(href='#contact') Contact
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    // CREAR EL SIGUIENTE BLOQUE USANDO VARIABLES/CONDICIONALES
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    .container-fluid
      .row
        .col-md-12
          .team.text-center
            .cover(style="background:url('img/team/team-cover1.jpg'); background-size:cover;")
              .overlay.text-center
                h3.white $69.00
                h5.light.light-white 1 - 5 sessions / month
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    // CREAR EL SIGUIENTE BLOQUE CON UN CICLO
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    .container-fluid
      .row.services
        .col-md-4
          .service
            .icon-holder
              img.icon(src='img/icons/heart-blue.png', alt='')
            h4.heading Cardio Training
            p.description
              | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
        .col-md-4
          .service
            .icon-holder
              img.icon(src='img/icons/heart-blue.png', alt='')
            h4.heading Cardio Training
            p.description
              | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
        .col-md-4
          .service
            .icon-holder
              img.icon(src='img/icons/heart-blue.png', alt='')
            h4.heading Cardio Training
            p.description
              | A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    // INCLUIR EL SIGUIENTE BLOQUE DESDE UN ARCHIVO EXTERNO
    // - - - - - - - - - - - - - - - - - - - - - - - - - -
    footer
      .container-fluid
        .row.bottom-footer.text-center-mobile
          .col-sm-8
            p
              | &copy; 2015 All Rights Reserved. Powered by 
              a(href='http://www.phir.co/') PHIr
              |  exclusively for 
              a(href='http://tympanus.net/codrops/') Codrops
          .col-sm-4.text-right.text-center-mobile
            ul.social-footer
              li
                a(href='http://www.facebook.com/pages/Codrops/159107397912')
                  i.fa.fa-facebook
              li
                a(href='http://www.twitter.com/codrops')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/101095823814290637419')
                  i.fa.fa-google-plus
