html{
	background: linear-gradient(#03CFFB, #99A0A1);
	height: 100vh;
}
body{
	font: 12px Arial;
}

h2{
	background-color: #14694E;
	color: #33EF07;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0px auto;
	padding: 10px;
	width: 1300px
}
section{
	background-color: #4BDAC1;
	margin: 20px auto;
	padding: 20px;
	width: 1300px;
}

section div{
	border: 1px solid #0E9DF7;
	padding: 10px;
	margin-bottom: 4px;
}
section div.ejemplo{
	background-color: #fff;
	text-align: center;
	transition: all 0.5s;
}

section div.ejemplo:hover{
	background-color: green; 
	cursor: pointer;

}